In [1]:
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.feature import OneHotEncoderEstimator, MinMaxScaler, StringIndexer, VectorAssembler
from pyspark.ml import Pipeline, PipelineModel
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

In [2]:
conf = SparkConf().setMaster('local').setAppName('Predict Adult Salary')
sc = SparkContext(conf = conf)

In [3]:
spark = SparkSession \
    .builder \
    .appName("Predict Adult Salary") \
    .getOrCreate()

In [4]:
schema = StructType([
    StructField("age", IntegerType(), True),
    StructField("workclass", StringType(), True),
    StructField("fnlwgt", IntegerType(), True),
    StructField("education", StringType(), True),
    StructField("education-num", IntegerType(), True),
    StructField("marital-status", StringType(), True),
    StructField("occupation", StringType(), True),
    StructField("relationship", StringType(), True),
    StructField("race", StringType(), True),
    StructField("sex", StringType(), True),
    StructField("capital-gain", IntegerType(), True),
    StructField("capital-loss", IntegerType(), True),
    StructField("hours-per-week", IntegerType(), True),
    StructField("native-country", StringType(), True),
    StructField("salary", StringType(), True)
])

In [5]:
train_df = spark.read.csv('train.csv', header=False, schema=schema)

test_df = spark.read.csv('test.csv', header=False, schema=schema)

In [6]:
train_df.head(5)

[Row(age=39, workclass='State-gov', fnlwgt=77516, education='Bachelors', education-num=13, marital-status='Never-married', occupation='Adm-clerical', relationship='Not-in-family', race='White', sex='Male', capital-gain=2174, capital-loss=0, hours-per-week=40, native-country='United-States', salary='<=50K'),
 Row(age=50, workclass='Self-emp-not-inc', fnlwgt=83311, education='Bachelors', education-num=13, marital-status='Married-civ-spouse', occupation='Exec-managerial', relationship='Husband', race='White', sex='Male', capital-gain=0, capital-loss=0, hours-per-week=13, native-country='United-States', salary='<=50K'),
 Row(age=38, workclass='Private', fnlwgt=215646, education='HS-grad', education-num=9, marital-status='Divorced', occupation='Handlers-cleaners', relationship='Not-in-family', race='White', sex='Male', capital-gain=0, capital-loss=0, hours-per-week=40, native-country='United-States', salary='<=50K'),
 Row(age=53, workclass='Private', fnlwgt=234721, education='11th', education-num=7, marital-status='Married-civ-spouse', occupation='Handlers-cleaners', relationship='Husband', race='Black', sex='Male', capital-gain=0, capital-loss=0, hours-per-week=40, native-country='United-States', salary='<=50K'),
 Row(age=28, workclass='Private', fnlwgt=338409, education='Bachelors', education-num=13, marital-status='Married-civ-spouse', occupation='Prof-specialty', relationship='Wife', race='Black', sex='Female', capital-gain=0, capital-loss=0, hours-per-week=40, native-country='Cuba', salary='<=50K')]

In [7]:
train_df.limit(5).toPandas()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [8]:
categorical_variables = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']

indexers = [StringIndexer(inputCol=column, outputCol=column+"-index") for column in categorical_variables]

encoder = OneHotEncoderEstimator(
    inputCols=[indexer.getOutputCol() for indexer in indexers],
    outputCols=[
        "{0}-encoded".format(indexer.getOutputCol()) for indexer in indexers]
)

assembler = VectorAssembler(
    inputCols=encoder.getOutputCols(),
    outputCol="categorical-features"
)

scaler = MinMaxScaler(
    inputCol="categorical-features",
    outputCol="scaled-categorical-features"
)


pipeline = Pipeline(stages=indexers + [encoder, assembler, scaler])

train_df = pipeline.fit(train_df).transform(train_df)

test_df = pipeline.fit(test_df).transform(test_df)

In [9]:
train_df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: integer (nullable = true)
 |-- education: string (nullable = true)
 |-- education-num: integer (nullable = true)
 |-- marital-status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- race: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- capital-gain: integer (nullable = true)
 |-- capital-loss: integer (nullable = true)
 |-- hours-per-week: integer (nullable = true)
 |-- native-country: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- workclass-index: double (nullable = false)
 |-- education-index: double (nullable = false)
 |-- marital-status-index: double (nullable = false)
 |-- occupation-index: double (nullable = false)
 |-- relationship-index: double (nullable = false)
 |-- race-index: double (nullable = false)
 |-- sex-index: double (nullable = false)
 |-- native-country-index: double (nullable = false)
 |-- workclass-index-encoded: vector (nullable = true)
 |-- occupation-index-encoded: vector (nullable = true)
 |-- marital-status-index-encoded: vector (nullable = true)
 |-- native-country-index-encoded: vector (nullable = true)
 |-- education-index-encoded: vector (nullable = true)
 |-- race-index-encoded: vector (nullable = true)
 |-- relationship-index-encoded: vector (nullable = true)
 |-- sex-index-encoded: vector (nullable = true)
 |-- categorical-features: vector (nullable = true)
 |-- scaled-categorical-features: vector (nullable = true)

In [10]:
df = train_df.limit(5).toPandas()

In [11]:
df['scaled-categorical-features'][1]

DenseVector([0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0])

In [12]:
continuous_variables = ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']

assembler = VectorAssembler(
    inputCols=['scaled-categorical-features', *continuous_variables],
    outputCol='features'
)

train_df = assembler.transform(train_df)

test_df = assembler.transform(test_df)

In [13]:
train_df.limit(5).toPandas()['features'][0]

SparseVector(99, {4: 1.0, 10: 1.0, 24: 1.0, 32: 1.0, 44: 1.0, 48: 1.0, 52: 1.0, 53: 1.0, 93: 39.0, 94: 77516.0, 95: 13.0, 96: 2174.0, 98: 40.0})

In [14]:
indexer = StringIndexer(inputCol='salary', outputCol='label')

train_df = indexer.fit(train_df).transform(train_df)

test_df = indexer.fit(test_df).transform(test_df)

In [15]:
train_df.limit(10).toPandas()['label']

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    1.0
8    1.0
9    1.0
Name: label, dtype: float64

In [16]:
lr = LogisticRegression(featuresCol='features', labelCol='label')

model = lr.fit(train_df)

In [17]:
pred = model.transform(test_df)

In [18]:
pred.limittoPandas()

+---+----------------+------+------------+-------------+------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+---------------+---------------+--------------------+----------------+------------------+----------+---------+--------------------+-----------------------+------------------------+----------------------------+----------------------------+-----------------------+------------------+--------------------------+-----------------+--------------------+---------------------------+--------------------+-----+--------------------+--------------------+----------+
|age|       workclass|fnlwgt|   education|education-num|    marital-status|       occupation| relationship|              race|   sex|capital-gain|capital-loss|hours-per-week|native-country|salary|workclass-index|education-index|marital-status-index|occupation-index|relationship-index|race-index|sex-index|native-country-index|workclass-index-encoded|occupation-index-encoded|marital-status-index-encoded|native-country-index-encoded|education-index-encoded|race-index-encoded|relationship-index-encoded|sex-index-encoded|categorical-features|scaled-categorical-features|            features|label|       rawPrediction|         probability|prediction|
+---+----------------+------+------------+-------------+------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+---------------+---------------+--------------------+----------------+------------------+----------+---------+--------------------+-----------------------+------------------------+----------------------------+----------------------------+-----------------------+------------------+--------------------------+-----------------+--------------------+---------------------------+--------------------+-----+--------------------+--------------------+----------+
| 25|         Private|226802|        11th|            7|     Never-married|Machine-op-inspct|    Own-child|             Black|  Male|           0|           0|            40| United-States|<=50K.|            0.0|            5.0|                 1.0|             6.0|               2.0|       1.0|      0.0|                 0.0|          (8,[0],[1.0])|          (14,[6],[1.0])|               (6,[1],[1.0])|              (40,[0],[1.0])|         (15,[5],[1.0])|     (4,[1],[1.0])|             (5,[2],[1.0])|    (1,[0],[1.0])|(93,[0,13,24,35,4...|       [1.0,0.0,0.0,0.0,...|(99,[0,13,24,35,4...|  0.0|[6.12785053014440...|[0.99782348307145...|       0.0|
| 38|         Private| 89814|     HS-grad|            9|Married-civ-spouse|  Farming-fishing|      Husband|             White|  Male|           0|           0|            50| United-States|<=50K.|            0.0|            0.0|                 0.0|            11.0|               0.0|       0.0|      0.0|                 0.0|          (8,[0],[1.0])|         (14,[11],[1.0])|               (6,[0],[1.0])|              (40,[0],[1.0])|         (15,[0],[1.0])|     (4,[0],[1.0])|             (5,[0],[1.0])|    (1,[0],[1.0])|(93,[0,8,23,40,43...|       [1.0,0.0,0.0,0.0,...|(99,[0,8,23,40,43...|  0.0|[0.35905600270105...|[0.58881189974003...|       0.0|
| 28|       Local-gov|336951|  Assoc-acdm|           12|Married-civ-spouse|  Protective-serv|      Husband|             White|  Male|           0|           0|            40| United-States| >50K.|            2.0|            6.0|                 0.0|            12.0|               0.0|       0.0|      0.0|                 0.0|          (8,[2],[1.0])|         (14,[12],[1.0])|               (6,[0],[1.0])|              (40,[0],[1.0])|         (15,[6],[1.0])|     (4,[0],[1.0])|             (5,[0],[1.0])|    (1,[0],[1.0])|(93,[2,14,23,41,4...|       [0.0,0.0,1.0,0.0,...|(99,[2,14,23,41,4...|  1.0|[0.47685149774552...|[0.61700412669547...|       0.0|
| 44|         Private|160323|Some-college|           10|Married-civ-spouse|Machine-op-inspct|      Husband|             Black|  Male|        7688|           0|            40| United-States| >50K.|            0.0|            1.0|                 0.0|             6.0|               0.0|       1.0|      0.0|                 0.0|          (8,[0],[1.0])|          (14,[6],[1.0])|               (6,[0],[1.0])|              (40,[0],[1.0])|         (15,[1],[1.0])|     (4,[1],[1.0])|             (5,[0],[1.0])|    (1,[0],[1.0])|(93,[0,9,23,35,43...|       [1.0,0.0,0.0,0.0,...|(99,[0,9,23,35,43...|  1.0|[-1.1863500491668...|[0.23391236201998...|       1.0|
| 18|               ?|103497|Some-college|           10|     Never-married|                ?|    Own-child|             White|Female|           0|           0|            30| United-States|<=50K.|            3.0|            1.0|                 1.0|             7.0|               2.0|       0.0|      1.0|                 0.0|          (8,[3],[1.0])|          (14,[7],[1.0])|               (6,[1],[1.0])|              (40,[0],[1.0])|         (15,[1],[1.0])|     (4,[0],[1.0])|             (5,[2],[1.0])|        (1,[],[])|(93,[3,9,24,36,45...|       [0.0,0.0,0.0,1.0,...|(99,[3,9,24,36,45...|  0.0|[6.69959580511884...|[0.99877010497293...|       0.0|
| 34|         Private|198693|        10th|            6|     Never-married|    Other-service|Not-in-family|             White|  Male|           0|           0|            30| United-States|<=50K.|            0.0|            7.0|                 1.0|             5.0|               1.0|       0.0|      0.0|                 0.0|          (8,[0],[1.0])|          (14,[5],[1.0])|               (6,[1],[1.0])|              (40,[0],[1.0])|         (15,[7],[1.0])|     (4,[0],[1.0])|             (5,[1],[1.0])|    (1,[0],[1.0])|(93,[0,15,24,34,4...|       [1.0,0.0,0.0,0.0,...|(99,[0,15,24,34,4...|  0.0|[5.40698231638340...|[0.99553487220087...|       0.0|
| 29|               ?|227026|     HS-grad|            9|     Never-married|                ?|    Unmarried|             Black|  Male|           0|           0|            40| United-States|<=50K.|            3.0|            0.0|                 1.0|             7.0|               3.0|       1.0|      0.0|                 0.0|          (8,[3],[1.0])|          (14,[7],[1.0])|               (6,[1],[1.0])|              (40,[0],[1.0])|         (15,[0],[1.0])|     (4,[1],[1.0])|             (5,[3],[1.0])|    (1,[0],[1.0])|(93,[3,8,24,36,46...|       [0.0,0.0,0.0,1.0,...|(99,[3,8,24,36,46...|  0.0|[4.58648904953372...|[0.98991419271979...|       0.0|
| 63|Self-emp-not-inc|104626| Prof-school|           15|Married-civ-spouse|   Prof-specialty|      Husband|             White|  Male|        3103|           0|            32| United-States| >50K.|            1.0|            9.0|                 0.0|             0.0|               0.0|       0.0|      0.0|                 0.0|          (8,[1],[1.0])|          (14,[0],[1.0])|               (6,[0],[1.0])|              (40,[0],[1.0])|         (15,[9],[1.0])|     (4,[0],[1.0])|             (5,[0],[1.0])|    (1,[0],[1.0])|(93,[1,17,23,29,4...|       [0.0,1.0,0.0,0.0,...|(99,[1,17,23,29,4...|  1.0|[-2.0774722096845...|[0.11130576204734...|       1.0|
| 24|         Private|369667|Some-college|           10|     Never-married|    Other-service|    Unmarried|             White|Female|           0|           0|            40| United-States|<=50K.|            0.0|            1.0|                 1.0|             5.0|               3.0|       0.0|      1.0|                 0.0|          (8,[0],[1.0])|          (14,[5],[1.0])|               (6,[1],[1.0])|              (40,[0],[1.0])|         (15,[1],[1.0])|     (4,[0],[1.0])|             (5,[3],[1.0])|        (1,[],[])|(93,[0,9,24,34,46...|       [1.0,0.0,0.0,0.0,...|(99,[0,9,24,34,46...|  0.0|[5.04530694409767...|[0.99360171813149...|       0.0|
| 55|         Private|104996|     7th-8th|            4|Married-civ-spouse|     Craft-repair|      Husband|             White|  Male|           0|           0|            10| United-States|<=50K.|            0.0|            8.0|                 0.0|             2.0|               0.0|       0.0|      0.0|                 0.0|          (8,[0],[1.0])|          (14,[2],[1.0])|               (6,[0],[1.0])|              (40,[0],[1.0])|         (15,[8],[1.0])|     (4,[0],[1.0])|             (5,[0],[1.0])|    (1,[0],[1.0])|(93,[0,16,23,31,4...|       [1.0,0.0,0.0,0.0,...|(99,[0,16,23,31,4...|  0.0|[2.25964181779946...|[0.90547897983455...|       0.0|
| 65|         Private|184454|     HS-grad|            9|Married-civ-spouse|Machine-op-inspct|      Husband|             White|  Male|        6418|           0|            40| United-States| >50K.|            0.0|            0.0|                 0.0|             6.0|               0.0|       0.0|      0.0|                 0.0|          (8,[0],[1.0])|          (14,[6],[1.0])|               (6,[0],[1.0])|              (40,[0],[1.0])|         (15,[0],[1.0])|     (4,[0],[1.0])|             (5,[0],[1.0])|    (1,[0],[1.0])|(93,[0,8,23,35,43...|       [1.0,0.0,0.0,0.0,...|(99,[0,8,23,35,43...|  1.0|[-1.1765618030138...|[0.23567095624976...|       1.0|
| 36|     Federal-gov|212465|   Bachelors|           13|Married-civ-spouse|     Adm-clerical|      Husband|             White|  Male|           0|           0|            40| United-States|<=50K.|            6.0|            2.0|                 0.0|             4.0|               0.0|       0.0|      0.0|                 0.0|          (8,[6],[1.0])|          (14,[4],[1.0])|               (6,[0],[1.0])|              (40,[0],[1.0])|         (15,[2],[1.0])|     (4,[0],[1.0])|             (5,[0],[1.0])|    (1,[0],[1.0])|(93,[6,10,23,33,4...|       [0.0,0.0,0.0,0.0,...|(99,[6,10,23,33,4...|  0.0|[-0.6175238228808...|[0.35034482852324...|       1.0|
| 26|         Private| 82091|     HS-grad|            9|     Never-married|     Adm-clerical|Not-in-family|             White|Female|           0|           0|            39| United-States|<=50K.|            0.0|            0.0|                 1.0|             4.0|               1.0|       0.0|      1.0|                 0.0|          (8,[0],[1.0])|          (14,[4],[1.0])|               (6,[1],[1.0])|              (40,[0],[1.0])|         (15,[0],[1.0])|     (4,[0],[1.0])|             (5,[1],[1.0])|        (1,[],[])|(93,[0,8,24,33,44...|       [1.0,0.0,0.0,0.0,...|(99,[0,8,24,33,44...|  0.0|[4.33829571744401...|[0.98710956804795...|       0.0|
| 58|               ?|299831|     HS-grad|            9|Married-civ-spouse|                ?|      Husband|             White|  Male|           0|           0|            35| United-States|<=50K.|            3.0|            0.0|                 0.0|             7.0|               0.0|       0.0|      0.0|                 0.0|          (8,[3],[1.0])|          (14,[7],[1.0])|               (6,[0],[1.0])|              (40,[0],[1.0])|         (15,[0],[1.0])|     (4,[0],[1.0])|             (5,[0],[1.0])|    (1,[0],[1.0])|(93,[3,8,23,36,43...|       [0.0,0.0,0.0,1.0,...|(99,[3,8,23,36,43...|  0.0|[1.50562205275157...|[0.81841148879082...|       0.0|
| 48|         Private|279724|     HS-grad|            9|Married-civ-spouse|Machine-op-inspct|      Husband|             White|  Male|        3103|           0|            48| United-States| >50K.|            0.0|            0.0|                 0.0|             6.0|               0.0|       0.0|      0.0|                 0.0|          (8,[0],[1.0])|          (14,[6],[1.0])|               (6,[0],[1.0])|              (40,[0],[1.0])|         (15,[0],[1.0])|     (4,[0],[1.0])|             (5,[0],[1.0])|    (1,[0],[1.0])|(93,[0,8,23,35,43...|       [1.0,0.0,0.0,0.0,...|(99,[0,8,23,35,43...|  1.0|[-0.0094854151519...|[0.49762866399169...|       1.0|
| 43|         Private|346189|     Masters|           14|Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male|           0|           0|            50| United-States| >50K.|            0.0|            3.0|                 0.0|             1.0|               0.0|       0.0|      0.0|                 0.0|          (8,[0],[1.0])|          (14,[1],[1.0])|               (6,[0],[1.0])|              (40,[0],[1.0])|         (15,[3],[1.0])|     (4,[0],[1.0])|             (5,[0],[1.0])|    (1,[0],[1.0])|(93,[0,11,23,30,4...|       [1.0,0.0,0.0,0.0,...|(99,[0,11,23,30,4...|  1.0|[-0.8445806494405...|[0.30057092421183...|       1.0|
| 20|       State-gov|444554|Some-college|           10|     Never-married|    Other-service|    Own-child|             White|  Male|           0|           0|            25| United-States|<=50K.|            4.0|            1.0|                 1.0|             5.0|               2.0|       0.0|      0.0|                 0.0|          (8,[4],[1.0])|          (14,[5],[1.0])|               (6,[1],[1.0])|              (40,[0],[1.0])|         (15,[1],[1.0])|     (4,[0],[1.0])|             (5,[2],[1.0])|    (1,[0],[1.0])|(93,[4,9,24,34,45...|       [0.0,0.0,0.0,0.0,...|(99,[4,9,24,34,45...|  0.0|[6.15220406137016...|[0.99787573747381...|       0.0|
| 43|         Private|128354|     HS-grad|            9|Married-civ-spouse|     Adm-clerical|         Wife|             White|Female|           0|           0|            30| United-States|<=50K.|            0.0|            0.0|                 0.0|             4.0|               4.0|       0.0|      1.0|                 0.0|          (8,[0],[1.0])|          (14,[4],[1.0])|               (6,[0],[1.0])|              (40,[0],[1.0])|         (15,[0],[1.0])|     (4,[0],[1.0])|             (5,[4],[1.0])|        (1,[],[])|(93,[0,8,23,33,47...|       [1.0,0.0,0.0,0.0,...|(99,[0,8,23,33,47...|  0.0|[0.68714773746051...|[0.66533212667576...|       0.0|
| 37|         Private| 60548|     HS-grad|            9|           Widowed|Machine-op-inspct|    Unmarried|             White|Female|           0|           0|            20| United-States|<=50K.|            0.0|            0.0|                 3.0|             6.0|               3.0|       0.0|      1.0|                 0.0|          (8,[0],[1.0])|          (14,[6],[1.0])|               (6,[3],[1.0])|              (40,[0],[1.0])|         (15,[0],[1.0])|     (4,[0],[1.0])|             (5,[3],[1.0])|        (1,[],[])|(93,[0,8,26,35,46...|       [1.0,0.0,0.0,0.0,...|(99,[0,8,26,35,46...|  0.0|[4.97975158998885...|[0.99317118302178...|       0.0|
| 40|         Private| 85019|   Doctorate|           16|Married-civ-spouse|   Prof-specialty|      Husband|Asian-Pac-Islander|  Male|           0|           0|            45|             ?| >50K.|            0.0|           12.0|                 0.0|             0.0|               0.0|       2.0|      0.0|                 2.0|          (8,[0],[1.0])|          (14,[0],[1.0])|               (6,[0],[1.0])|              (40,[2],[1.0])|        (15,[12],[1.0])|     (4,[2],[1.0])|             (5,[0],[1.0])|    (1,[0],[1.0])|(93,[0,20,23,29,4...|       [1.0,0.0,0.0,0.0,...|(99,[0,20,23,29,4...|  1.0|[-1.2885118463289...|[0.21610480278023...|       1.0|
+---+----------------+------+------------+-------------+------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+---------------+---------------+--------------------+----------------+------------------+----------+---------+--------------------+-----------------------+------------------------+----------------------------+----------------------------+-----------------------+------------------+--------------------------+-----------------+--------------------+---------------------------+--------------------+-----+--------------------+--------------------+----------+
only showing top 20 rows